In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
AB_gas_production = pd.read_json("naturalgas.json")

In [7]:
AB_gas_production = AB_gas_production[AB_gas_production['Date'].dt.year != 2023]

In [8]:
AB_gas_production

          Date         Type        Value
0   2007-01-01  Natural Gas  11802035900
1   2007-02-01  Natural Gas  10625649100
2   2007-03-01  Natural Gas  11857260000
3   2007-04-01  Natural Gas  11494242300
4   2007-05-01  Natural Gas  11691035100
..         ...          ...          ...
187 2022-08-01  Natural Gas   9465357600
188 2022-09-01  Natural Gas   9232505500
189 2022-10-01  Natural Gas   9596754600
190 2022-11-01  Natural Gas   9342720100
191 2022-12-01  Natural Gas   9406691699

[192 rows x 3 columns]

In [9]:
df = AB_gas_production

df['Date'] = pd.to_datetime(df['Date'])


df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month


percent_diffs = {}


for year in df['Year'].unique():

    april_may_df = df[(df['Year'] == year) & (df['Month'].isin([4, 5]))]
    
    if len(april_may_df) == 2:
        april_value = april_may_df.iloc[0]['Value']
        may_value = april_may_df.iloc[1]['Value']
        
        percent_diff = (may_value - april_value) / april_value * 100
        percent_diffs[year] = percent_diff
percent_diffs_df = pd.DataFrame(list(percent_diffs.items()), columns=['Year', 'Percent Difference'])

print(percent_diffs_df)

    Year  Percent Difference
0   2007            1.712099
1   2008            0.695934
2   2009           -0.426389
3   2010            1.741986
4   2011           -0.580780
5   2012            1.371139
6   2013            1.929625
7   2014            0.391328
8   2015           -0.883605
9   2016           -0.612246
10  2017            0.437367
11  2018           -0.675769
12  2019            0.683309
13  2020            0.998260
14  2021            1.485372
15  2022            0.508109

C:\Users\winch\AppData\Local\Temp\ipykernel_4368\100465555.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'])
C:\Users\winch\AppData\Local\Temp\ipykernel_4368\100465555.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Date'].dt.year
C:\Users\winch\AppData\Local\Temp\ipykernel_4368\100465555.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Date'].dt.month

In [10]:
percent_diffs_df.mean()

Year                  2014.500000
Percent Difference       0.548484
dtype: float64